#gistpreview-window {
  position: fixed;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background: #fff;
  z-index: 200;
  border-radius: 5px;
  border: 1px solid #C0C0C0;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.7);
}

#gistpreview-overlay {
  display: none;
  background: #eee;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
}

.gistpreview-fadeInOverlay {
  display: block !important;
  -webkit-animation: fadeInTheatre 0.25s forwards;
}

.gistpreview-fadeOutOverlay {
  display: block !important;
  -webkit-animation: fadeOutTheatre 0.25s forwards;
}

#gistpreview-iframe {
  background: rgba(0,0,0,0);
  height: 100%;
  width: 100%;
}

#gistpreview-iframe {
  border: none;
}

@-webkit-keyframes fadeInTheatre {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
    visibility: visible;
  }
}

@-webkit-keyframes fadeOutTheatre {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
